
@{
    ViewBag.Title = "View1";
}


<body background="~/export-map-share.png" style="background-size:100% 100%; background-attachment:fixed">
    <canvas id="myCanvas" style="border:1px;" size></canvas>
</body>